<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des Mot de Passe</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <ul class="nav justify-content-center mb-4 bg-dark text-white">
        <li class="nav-item"><a href="{% url 'liste_sites' %}">
          Gestion des mot de passe
        </a></li>
    </ul>
    <div class="container mx-auto">
        {% block content %}
        {% endblock %}
    </div>  
</body>
</html>