{% extends 'base.html' %}

{% block content %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">URL</th>
            <th scope="col">Identifiant</th>
            <th scope="col">Mot de Passe</th>
            <th scope="col">Edition</th>
          </tr>
        </thead>
        <tbody>
            {% if password_list %}          
            {% for pass in password_list %}
            <tr>
                <td scope="row">{{ pass.nom }}</td>
                <td>{{ pass.url }}</td>
                <td>{{ pass.identifiant }}</td>
                <td>{{ pass.mot_de_passe }}</td>
            </tr>
            {% endfor %}
            {% endif %}
    </table>
{% endblock %}